body {
    background-color: black;
    color: #a0a0a0;
}

h1, h2, h3, h4, h5, h6, a.new {
    color: #a0a0a0 !important;
}

img {
    background-color: lightgray;
}

table {
    background-color: black !important;
    color: #a0a0a0 !important;
}

.wikitable th {
    background-color: #292929 !important;
}

div.thumbinner {
    background-color: #191919 !important;
}

div.thumb {
    border-color: black !important;
}

a {
    color: #A3964E;
}

a:visited {
    color: #735A0A;
}
