a[href ^="sftp://"],
a[href ^="ftp://"],
a[href ^="http://"],
a[href ^="https://"] {
    background: url('data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F><svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"10"%20height%3D"10"><g%20transform%3D"translate%28-826.429%20-698.791%29"><rect%20width%3D"5.982"%20height%3D"5.982"%20x%3D"826.929"%20y%3D"702.309"%20fill%3D"%23fff"%20stroke%3D"%2306c"%2F><g><path%20d%3D"M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z"%20fill%3D"%2306f"%2F><path%20d%3D"M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z"%20fill%3D"%23fff"%2F><%2Fg><%2Fg><%2Fsvg>') center right no-repeat;
    padding: 0 13px 0 0;
}
