body {
    background-color: black;
    color: #a0a0a0;
}

h1, h2, h3, h4, h5, h6, a.new {
    color: #a0a0a0 !important;
}

.mjx-svg-mrow {
    fill: #a0a0a0;
    stroke: #a0a0a0;
}

img {
    background-color: lightgray;
}

table {
    background-color: black !important;
    color: #a0a0a0 !important;
}

table.translations td {
    background-color: #191919;
}

table.translations {
    border-collapse: collapse;
}

table.standard th, table.wide th, table.standart th {
  background-color: maroon;
  color: #ccc;
}

tr.bright th {
  background-color: #FBECCA;
  color: black;
}

table td.dark {
  background-color: maroon;
  color: #ccc;
}

.infobox th {
    background-color: maroon !important;
    color: #ccc !important;
}

.infobox td {
    background-color: #2F313C !important;
    color: #bbb !important;
}


.wikitable th {
    background-color: #292929 !important;
}

div.thumbinner {
    background-color: #191919 !important;
}

div.thumb {
    border-color: black !important;
}

a {
    color: #A3964E;
}

a:visited {
    color: #735A0A;
}

#toc, .toc {
    background-color: #181205 !important;
}

#content {
        background-color: black;
        color: #a0a0a0 !important;
	border: 1px solid #555;
}

abbr, acronym, .explain {
    color: #a0a0a0 !important;
}

li.gallerybox div.thumb {
    background-color: #2F313C;
}
