body {
    background-color: white;
}

a[href ^="sftp://"],
a[href ^="ftp://"],
a[href ^="http://"],
a[href ^="https://"] {
    text-decoration: dotted underline;
}

.a2-geo-link-icon {
    width: 16px;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: inherit;
}


.geo-default, .geo-dms, .geo-dec {
    display: inline;
}

#coordinates {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin: 0;
    padding: 0.3em;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    font-size: 85%;
    text-transform: none;
    white-space: nowrap;
}

#a2-toc > summary {
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding-top: .5em;
    padding-bottom: .17em;
}

#a2-toc > summary > h1 {
    display: inline-block;
    border-bottom: none;
}

#a2-toc-spacer  {
    display: inline-block;
    width: 1em;
}

#a2-toc ol {
    counter-reset: item;
}

#a2-toc li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    padding: 4px;
}

#a2-toc li {
    display: block;
}

#a2-title {
    font-size: 188%;
}
