body {
    background-color: white;
}

a[href ^="sftp://"],
a[href ^="ftp://"],
a[href ^="http://"],
a[href ^="https://"] {
    text-decoration: dotted underline;
}

.mwscrape2slob-geo-link-icon {
    width: 16px;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: inherit;
}


.geo-default, .geo-dms, .geo-dec {
    display: inline;
}

#coordinates {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin: 0;
    padding: 0.3em;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    font-size: 85%;
    text-transform: none;
    white-space: nowrap;
}
